.menu-asodir {
    margin-top: 0px;
}

.font-fuent {
    color: #fff;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.carousel-inner img {
    width: 100%;
    height: 315px;
}

.footer {
    /*Establecer el ancho 100% del footer*/
    /*Establecer un margen entre el fin de la pagina y el footer de 1 px */
    margin-top: 70px;
    padding-top: 28px;
    margin-bottom: 0px;
    /*establece el alto del footer*/
    height: 150px;
    width: 85;
    /*Posiciona el footer siempre en la parte de abajo*/
    background: #08743b;
    color: #ffffff;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    /*position: fixed; */
}

.bg-color {
    background: #08743b;
}

.margin-container {
    padding-top: 40px;
    margin-bottom: 30px;
}

.img-link {
    width: 40px;
    /*establece el alto del footer*/
    height: 40px;
}

.img-link img {
    width: 180px;
    /*establece el alto del footer*/
    height: 90px;
    margin-right: 6px;
    margin-top:
}

.font-card {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.navbar-light {
    color: #fff;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-link a:hover {
    background: rgb(0, 0, 0, .1);
}

.font-fuent-black {
    color: #000;
    font-size: 16px;
    font-family: Verdana;
    margin-bottom: 50px;
}

.font-table {
    font-size: 0.8rem;
    height: 200px;
}

.font-login {
    color: #000;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

//sobrescritura
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.font-link {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #e3342f;
    font-size: 0.8rem;
}

.footer-animations {
    animation-name: desplazar;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
}


/*Permite pausar la Imagen*/

.footer-animations:hover {
    animation-play-state: paused;
}


/*creamos los fotogramas*/

@-webkit-keyframes slidein