.body{
background: #fffff0;
}

.main-menu{
	background: #08733b; /**@ Aplica un color de fondo al menú @*/
	height: 45px; /**@ Especifica el alto del menú @*/
	border-bottom: 1px solid #08733b; /**@ Coloca un color de borde al menú @*/
	display: flex;
	justify-content:  space-between ; /**@ Deja espacio en tre los elementos*/

}
/**@ formato a cada elemento @*/
.main-menu a{
	color: #fff; 	/**@ establece el color de fuente de cada elementos*/
	font-size: 16px; 	/**@ establece el tamaño de furnte de cada elemento*/
	font-family: Arial, Helvetica, sans-serif; /**@ Establece el timo de letra*/
	text-decoration: none; 	/**@ elimina el subrayado del texto*/
	flex: 1; 	/**@ asigna el mismo espacio entre elementos*/
	display: flex;
	justify-content: center;
	align-items:  center;
}
.main-menu a:hover{
	color: #fff; 
	text-decoration: none;	/**@ elimina el subrayado del texto*/
	background:  rgba(255,255,0, .1);
}

.main-menu a.active{
	/*background: red;*/
}

.card-body a:hover{

	width: 100%;

	color: #fff; 
	text-decoration: none;	/**@ elimina el subrayado del texto*/ 
	background:  rgba(8,116,59 );
}

@media (max-width: 768px){
	.main-menu{
		height: auto;
		border-bottom: 0px;
		display: block;
	}

	.main-menu a{
	height: 45px;
	border-bottom: 1px solid #08733b;

	}
}
.font-card a{
	font-size: 1rem;

}
.font-card span{
	font-size: 0.8rem;

}
.card-body-3 {
	width: 100%;
	color: #fff; 
	text-decoration: none;	/**@ elimina el subrayado del texto*/ 
	
}

.font-panel-titulo{
font-size: 16px;
font-family: Arial;
color: #fff;
height: 45px;

}

.font-panel-texto{
font-size: 15px;
font-family: Verdana;
}

