@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3hwugl');
  src:  url('fonts/icomoon.eot?3hwugl#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3hwugl') format('truetype'),
    url('fonts/icomoon.woff?3hwugl') format('woff'),
    url('fonts/icomoon.svg?3hwugl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-google-plus2:before {
  content: "\ea8c";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube2:before {
  content: "\ea9e";
}
