
.social-bar{
	position: fixed; /**/
	right: 0;/*Ponemos a la derecha de la pantalla*/
	top: 250;/*Posiccion casi en el centro*/
	font-size: 1.5rem;/**/
	display: flex;/* para que quede fijo en la pantalla*/
	flex-direction: column;/*direccion cambiada*/
	align-items: flex-end; /* alineacion a la parte inferior*/
	z-index: 100; /*se ubica encima de los elementos de la pantalla*/
	margin-right: 10px;

}
.icon{
	color: white;
	text-decoration: none;
	padding: .7rem;
	display: flex;
	transition: all .5s;
}
.icon-facebook2{
	background: #2E406E;
}

.icon-google-plus2{
	background: #dd4b39;
}

.icon-twitter{
	background: #339DC5;
}

.icon-youtube{
	background: #E83028;

}

.icon:first-child{
border-radius: 1rem 0 0 0;
}
.icon:last-child{
border-radius: 0 0 0 1rem ;
}
.icon:hover{
	padding-right: 3rem;
	border-radius: 1rem 0 0 1rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0,);

}